<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>

<div class="container content">
    <div class="masthead">
        <img id="logo" src="/public/dots.gif">
        <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
        </h3>
        <nav>
            <small>
                <a href="/about">About</a>&nbsp;&middot;
                <a href="{{ site.github.repo }}">Github</a>&nbsp;&middot;
                <a href="{{ site.author.url }}">@igarciafont</a>
            </small>
        </nav>

    </div>

    {{ content }}

    <div class="footer">
        <p>
            <a href="{{ site.google_plus }}">Ignasi Garcia Font</a> - {{ site.time | date: '%Y' }}. Follow me on <a href="{{ site.author.url }}">Twitter</a> or check my projects at <a href="{{ site.github.repo }}">Github</a>.
            <br>
            Theme: <a href="https://github.com/poole/poole">Poole</a>, logo from <a href="http://lawsofsimplicity.com/">"The laws of simplicity"</a> of John Maeda.
        </p>
    </div>
</div>

</body>
</html>
